.price {
    @media (min-width: $tablet) {
        padding: 0 24px;
    }

    .price__headers {
        font-size: 14px;
        line-height: 114%;
        opacity: 0.72;
        mix-blend-mode: normal;
        color: #7e7e82;
        font-weight: 500;

        @media (max-width: $tablet - 1px) {
            display: none;
        }

        &--mobile {
            display: none;
            @media (max-width: $tablet - 1px) {
                display: inline-block;
                padding-bottom: 4px;
            }
        }
    }

    .swiper__wrapper {
        overflow: visible;
        height: auto;
    }

    p {
        font-size: 14px;
        line-height: 129%;
        letter-spacing: 0.2px;
        color: $Project--Color-TextPrimary;
    }

    &__table {
        display: flex;
        flex-direction: column;
        min-width: 260px;
        min-height: 200px;
        padding: 16px;
        justify-content: space-between;

        @media (max-width: $tablet - 1px) {
            background-color: $Project--Color-White;
            border-radius: 6px;
        }

        @media (min-width: $tablet) {
            flex-direction: row;
            min-width: 100%;
            min-height: 100%;
            padding: 16px 0;
            border-bottom: 1px solid #eaeaea;
            padding: 16px 0 16px 0;

            &:last-child {
                border-bottom: none;
            }
        }

        &--noborder {
            // padding: 16px 10px 16px 16px;
            padding: 31px 10px 24px 22px;
            border-bottom: none;
            background-color: transparent;

            @media (max-width: $tablet - 1px) {
                display: none;
            }
        }
    }

    &__cell {
        display: flex;
        flex-direction: column;
        padding-bottom: 1rem;

        @media (min-width: $tablet) {
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            padding: 0;

            &:first-child {
                flex: 0 0 55%;
            }

            &:nth-child(2) {
                flex: 0 0 13%;
            }

            &:last-child {
                flex: 0 0 32%;
                justify-content: space-between;
            }
        }

        @media (min-width: $wide) {
            &:first-child {
                flex: 0 0 45%;
            }

            &:nth-child(2) {
                flex: 0 0 23%;
            }

            &:last-child {
                flex: 0 0 32%;
                justify-content: space-between;
            }
        }

        @media (max-width: $tablet - 1px) {
            max-width: 178px;

            &:last-child {
                padding: 0 0 4px 0;
            }
        }
    }

    &__button {
        font-size: 12px;
        height: 2rem;
        width: 119px;
        border-radius: 16px;
        padding-left: 18px;
        text-align: left;
        color: $Project--Color-White;
        text-transform: uppercase;
        font-weight: bold;
        border: 1px solid transparent;
        background: url(../img/button/order.svg) no-repeat $Project--Color-Order 85px center;
        cursor: pointer;

        &:active {
            transform: translateY(2px);
            filter: saturate(150%);
        }

        &:focus,
        &:hover {
            outline: none;
            box-shadow: 0 0 0 0.075rem #fff, 0 0 0 0.2rem $Project--Color-Focus;
        }

        @media (max-width: $tablet - 1px) {
            position: absolute;
            align-self: flex-end;
            transform: translateX(50px) translateY(10px);

            &:active {
                transform: translateX(50px) translateY(12px);
                filter: saturate(150%);
            }
        }
    }

    &__wrapper {
        @media (min-width: $tablet) {
            box-sizing: border-box;
            background-color: $Project--Color-White;
            border-radius: 6px;
            padding: 0 10px 0 22px;
        }
    }

    &__commercial {
        margin-top: 16px;
        padding: 0 16px;
    }

    &__description {
        padding-right: 30px;
        padding-bottom: 24px;
        font-size: 14px;
        line-height: 143%;
        letter-spacing: 0.2px;
        color: $Project--Color-TextPrimary;

        @media(min-width: $tablet){
            max-width: 421px;
            padding-right: 0;
        }
    }

    &__proposal {
        border: 1px solid transparent;
        text-align: left;
        padding: 0;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: -0.2px;
        font-weight: 600;
        max-width: 200px;
        background: url(../img/price/more.svg) no-repeat 105px 24px, transparent;
        cursor: pointer;

        margin-bottom: 6px;

        @media(min-width: $tablet){
            min-width: 316px;
            background: url(../img/price/more.svg) no-repeat 290px -1px, transparent;
        }

        &:active {
            transform: translateY(2px);
            filter: saturate(150%);
        }

        &:focus,
        &:hover {
            outline: none;
            box-shadow: 0 0 0 0.075rem #fff, 0 0 0 0.15rem $Project--Color-Focus;
        }
    }
}
